	@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Tajawal', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  overflow-x: hidden;
}
.hero {
    background: #0055ff;
    color: white;
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
main {
  margin: 20px auto;
  width: 90vw;
}
.accordion-header {
  background: #0055ff;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

section {
  overflow: hidden;
}

.question-card {
  font-weight: 500;
  border-radius: 7px;
  padding: 12px 7px 12px 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 9px 18px -9px rgb(0,0,0,0.3);
  background: white;
  margin-bottom: 15px;
}
